.ace_form_editor {
	position: absolute;
	width: 90%;
	height: 300px;
}

.ace_editor *{
	font-family: monospace !important;
}

.tde_icon {
	float:left;
	margin: 20px;
	width: 100px;
}

#dlg {
	z-index: 10000;
}

#loading{
	position:absolute;
	top: 40%;
	width:33%;
	left: 33%;
	text-align: center;
	background-color: #CCC;
	border-radius: 10px;
	padding: 20px;
	animation: loading 2s alternate infinite;
	border: 1px solid #000;
}
@keyframes loading{
	from {background-color: #CCC;}
	to {background-color: #0C0;}
}

#consoleOut {
	background-color: #000;
	color: #FFF;
	min-height: 10em;
}
.test_passed {
	color: #0C0 !important;
}
.test_failed {
	color: #C00 !important;
}

#points {
	position: fixed;
	top: 50px;
	right: 20px;
	background-color: rgba(255,255,255,0.7);
	padding: 0px 20px 0px 20px;
	border-radius: 5px;
	text-align: center;
	border-style: solid;
	border-color: #000;
	border-width: 2px;
}

.score_total {
	font-size: 0.5em;
}

.score {
	font-size: 2em;
}

.wc_score {
	font-size: 4em;
}